<div id="character" class="character">
    <ct-filters @filterData="filterCharacters"></ct-filters>
    <div class="ct-loader" v-if="loading">
        <div class="d-flex justify-content-center mb-3 m-t-sm">
            <b-spinner type="grow" variant="success" label="Loading..."></b-spinner>
        </div>
    </div>
    <div class="error-template row m-t-sm" v-if="isNoResults">
        <div class="col-md-12">
            <div class="text-center">
                <b-icon-alert-triangle></b-icon-alert-triangle>
                <h3>Oops!</h3>
                <h5>0 results</h5>
            </div>
        </div>
    </div>

    <div class="character-list row mb-2" v-if="characterData.length > 0">
        <div class="col-sm-5 col-md-3 m-b-sm m-t-sm" v-bind:key="item.id" v-for="item in characterData">

            <b-card-group deck>
                <b-card :img-src="item.image" img-alt="Image" img-top>
                    <h5 class="card-title">{{item.name}}
                        <!-- TODO:: Move to new component-->
                        <template v-if="item.status === 'Alive'">
                            <b-badge pill variant="success">{{item.status}}</b-badge>
                        </template>
                        <template v-else-if="item.status === 'Dead'">
                            <b-badge pill variant="danger">{{item.status}}</b-badge>
                        </template>
                        <template v-else>
                            <b-badge pill variant="secondary">{{item.status}}</b-badge>
                        </template>
                    </h5>
                    <b-card-text>
                        <div>Species: {{item.species}}</div>
                        <div>Gender: {{item.gender}}</div>
                    </b-card-text>
                    <detail-link :id='item.id'></detail-link>
                </b-card>
            </b-card-group>
        </div>
    </div>
    <ct-pagination v-if="characterData.length > 0" @currentPage="goToPage" :currentPageVal="currentPage"
        :perPageVal="perPage" :totalItemsVal="totalItems"></ct-pagination>
</div>